### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
D:\Java Practise\MultiThreading\untitled\.idea
D:\Java Practise\MultiThreading\untitled\out
D:\Java Practise\MultiThreading\untitled\MultiThreading Practise.iml